@font-face {
    font-family: 'Funnel Sans';
    src: url('funnel-sans/FunnelSans-Light.woff2') format('woff2'),
        url('funnel-sans/FunnelSans-Light.woff') format('woff'),
        url('funnel-sans/FunnelSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('funnel-sans/FunnelSans-ExtraBoldItalic.woff2') format('woff2'),
        url('funnel-sans/FunnelSans-ExtraBoldItalic.woff') format('woff'),
        url('funnel-sans/FunnelSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('funnel-sans/FunnelSans-ExtraBold.woff2') format('woff2'),
        url('funnel-sans/FunnelSans-ExtraBold.woff') format('woff'),
        url('funnel-sans/FunnelSans-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('funnel-sans/FunnelSans-Italic.woff2') format('woff2'),
        url('funnel-sans/FunnelSans-Italic.woff') format('woff'),
        url('funnel-sans/FunnelSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('funnel-sans/FunnelSans-Medium.woff2') format('woff2'),
        url('funnel-sans/FunnelSans-Medium.woff') format('woff'),
        url('funnel-sans/FunnelSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('funnel-sans/FunnelSans-Bold.woff2') format('woff2'),
        url('funnel-sans/FunnelSans-Bold.woff') format('woff'),
        url('funnel-sans/FunnelSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('funnel-sans/FunnelSans-LightItalic.woff2') format('woff2'),
        url('funnel-sans/FunnelSans-LightItalic.woff') format('woff'),
        url('funnel-sans/FunnelSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('funnel-sans/FunnelSans-SemiBold.woff2') format('woff2'),
        url('funnel-sans/FunnelSans-SemiBold.woff') format('woff'),
        url('funnel-sans/FunnelSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('funnel-sans/FunnelSans-SemiBoldItalic.woff2') format('woff2'),
        url('funnel-sans/FunnelSans-SemiBoldItalic.woff') format('woff'),
        url('funnel-sans/FunnelSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('funnel-sans/FunnelSans-Regular.woff2') format('woff2'),
        url('funnel-sans/FunnelSans-Regular.woff') format('woff'),
        url('funnel-sans/FunnelSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('funnel-sans/FunnelSans-MediumItalic.woff2') format('woff2'),
        url('funnel-sans/FunnelSans-MediumItalic.woff') format('woff'),
        url('funnel-sans/FunnelSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('funnel-sans/FunnelSans-BoldItalic.woff2') format('woff2'),
        url('funnel-sans/FunnelSans-BoldItalic.woff') format('woff'),
        url('funnel-sans/FunnelSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

