@font-face {
    font-family: 'Stack Sans Text';
    src: url('stack-sans-text/StackSansText-Bold.woff2') format('woff2'),
        url('stack-sans-text/StackSansText-Bold.woff') format('woff'),
        url('stack-sans-text/StackSansText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stack Sans Text';
    src: url('stack-sans-text/StackSansText-ExtraLight.woff2') format('woff2'),
        url('stack-sans-text/StackSansText-ExtraLight.woff') format('woff'),
        url('stack-sans-text/StackSansText-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stack Sans Text';
    src: url('stack-sans-text/StackSansText-Light.woff2') format('woff2'),
        url('stack-sans-text/StackSansText-Light.woff') format('woff'),
        url('stack-sans-text/StackSansText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stack Sans Text';
    src: url('stack-sans-text/StackSansText-Medium.woff2') format('woff2'),
        url('stack-sans-text/StackSansText-Medium.woff') format('woff'),
        url('stack-sans-text/StackSansText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stack Sans Text';
    src: url('stack-sans-text/StackSansText-Regular.woff2') format('woff2'),
        url('stack-sans-text/StackSansText-Regular.woff') format('woff'),
        url('stack-sans-text/StackSansText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stack Sans Text';
    src: url('stack-sans-text/StackSansText-SemiBold.woff2') format('woff2'),
        url('stack-sans-text/StackSansText-SemiBold.woff') format('woff'),
        url('stack-sans-text/StackSansText-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

