@font-face {
    font-family: 'Figtree';
    src: url('fonts/figtree/Figtree-Bold.woff2') format('woff2'),
        url('fonts/figtree/Figtree-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('fonts/figtree/Figtree-BoldItalic.woff2') format('woff2'),
        url('fonts/figtree/Figtree-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('fonts/figtree/Figtree-ExtraBold.woff2') format('woff2'),
        url('fonts/figtree/Figtree-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('fonts/figtree/Figtree-Regular.woff2') format('woff2'),
        url('fonts/figtree/Figtree-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('fonts/figtree/Figtree-LightItalic.woff2') format('woff2'),
        url('fonts/figtree/Figtree-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('fonts/figtree/Figtree-Light.woff2') format('woff2'),
        url('fonts/figtree/Figtree-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('fonts/figtree/Figtree-MediumItalic.woff2') format('woff2'),
        url('fonts/figtree/Figtree-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('fonts/figtree/Figtree-Italic.woff2') format('woff2'),
        url('fonts/figtree/Figtree-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('fonts/figtree/Figtree-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/figtree/Figtree-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('fonts/figtree/Figtree-Medium.woff2') format('woff2'),
        url('fonts/figtree/Figtree-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('fonts/figtree/Figtree-SemiBold.woff2') format('woff2'),
        url('fonts/figtree/Figtree-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('fonts/figtree/Figtree-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/figtree/Figtree-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('fonts/figtree/Figtree-BlackItalic.woff2') format('woff2'),
        url('fonts/figtree/Figtree-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('fonts/figtree/Figtree-Black.woff2') format('woff2'),
        url('fonts/figtree/Figtree-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

