---
import "../assets/index.css";
import AppContextProvider from "./AppContext";
---

<!doctype html>
<html lang="en" data-color-mode="dark" class="dark" style="color-scheme: dark;">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Crater Bible Project</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>

<script>
	import TextFill from "~/utils/textfill";

	const autoSizeElements = () => {
		var resizeElems = document.querySelectorAll(
			"*[data-textfill-resize-options]"
		);
		for (var i = 0; i < resizeElems.length; i++) {
			var parent = resizeElems[i];
			const strOptions = parent.getAttribute("data-textfill-resize-options");
			if (strOptions) {
				var options = JSON.parse(strOptions);
				TextFill(parent, options);
			}
		}
	};

	window.addEventListener("resize", autoSizeElements);
</script>
